* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */
.navbar {
    height: 70px;
    background: linear-gradient(90deg, #0f9d58, #1fbf75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.logo img {
    height: 130px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.nav-links a:hover{
  color: #080808;

}

.signin-btn {
    border: 1px solid #fff;
    padding: 8px 20px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
}

/* HERO SECTION */
.hero {
    display: flex;
    height: calc(100vh - 70px);
}

/* LEFT SLIDER */
.hero-left {
    width: 60%;
    position: relative;
    overflow: hidden;
}

.slider {
    height: 100%;
    width: 100%;
}

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.slide.active {
    opacity: 1;
}

/* GREEN BLEND OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(59, 201, 130, 0.85),
        rgba(31,191,117,0.55),
        #f8f9fa
    );
    padding: 80px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay h1 {
    font-size: 60px;
      -webkit-text-fill-color: transparent;
    color: transparent;
    background: linear-gradient(135deg, black, green, orange) text;
    margin-bottom: 20px;

}

.overlay p {
    font-size: 15px;
    max-width: 450px;
    color: rgb(247, 207, 133);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* RIGHT LOGIN */
.hero-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
}

.login-form {
    width: 85%;
    max-width: 400px;
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.login-form h2 {
    margin-bottom: 25px;
    color: #0f9d58;
}

.login-form label {
    font-size: 14px;
    margin-top: 15px;
    display: block;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


.login-form button {
    width: 100%;
    background: #0f9d58;
    color: #fff;
    border: none;
    padding: 12px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.signup-text {
    text-align: center;
    margin-top: 15px;
}

.signup-text a {
    color: #0f9d58;
    text-decoration: none;
}