<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Imani Credit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav class="navbar">
  <div class="logo">
    <img src="/static/images/logo.png" alt="Imani Credit Logo">
  </div>

  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">How to apply</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Faqs</a></li>
    <li><a href="#">Our Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

 {% if 'user_id' not in session %}

  <a href="{{ url_for('signup') }}" class="btn-primary">Sign up</a>
  <a href="{{ url_for('login') }}" class="btn-nav">Sign In</a>

{% else %}

  <span class="welcome-text">Hi, {{ session['firstname'] }}</span>
  <a href="{{ url_for('dashboard') }}" class="btn-primary">Dashboard</a>
  <a href="{{ url_for('logout') }}" class="btn-nav">Logout</a>

{% endif %}

</nav>

<section class="hero">

  <!-- BACKGROUND SLIDER -->
    <!-- BACKGROUND VIDEO SLIDER -->
    <div class="hero-media">
        <video class="bg-video active" autoplay muted loop>
            <source src="/static/videos/landing.mp4" type="video/mp4">
        </video>
        <video class="bg-video" autoplay muted loop>
            <source src="/static/videos/landing.mp4" type="video/mp4">
        </video>
        <video class="bg-video" autoplay muted loop>
            <source src="/static/videos/landing.mp4" type="video/mp4">
        </video>

  <!-- BLENDED OVERLAY -->
  <div class="hero-overlay"></div>

 
  <div class="hero-content animate">
    <h1>Welcome to Imani Credit</h1>
    <p>
      Your trusted partner for financial solutions. We offer a range of credit
      products designed to meet your needs and help you achieve your financial goals.
    </p>

    <div class="hero-buttons">
      <a href="{{ url_for('apply_loan') }}" class="btn-primary">Apply Now</a>
      <a href="#" class="btn-secondary">Download Application</a>
    </div>
  </div>

</section>

<script src="/static/js/script.js"></script>
</body>
</html>